[Unit]
Description=Weather lights
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u weather_lights.py
WorkingDirectory=/home/pi/Documents/weatherLights
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
