[Unit]
Description=Weatherlights webserver
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u webserver/app.py
WorkingDirectory=/home/pi/Documents/weatherlights
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
