<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>WeatherLights</title>
  <meta name="description" content="Control the lights">
  <meta name="author" content="Tugboat">

  <!-- Mobile-friendly viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href='/static/styles.css?v=1' />
</head>

<body>
  <section>
    <h2 class="control-header">Lights</h2>

    <div class="controls">
      <button class="btn on">On</button>
      <button class="btn off">Off</button>
    </div>
  </section>

  <section>
    <h2 class="control-header">Brightness</h2>

    <div class="controls">
      <button class="btn darker">-</button>
      <div class="brightness-display"></div>
      <button class="btn brighter">+</button>
    </div>
  </section>

  <script src="/static/index.js"></script>
</body>

</html>
